body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}

.App {
  width:450px;
  display: flex;
  flex-direction: column;
}

.navbar_comp{
  width : 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar_comp ul{
  width:350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bookL{
  display : flex;
  flex-direction:column;
  align-items: center;
}
.bookeach{
  width : 350px;
  padding : 10px;
  margin:15px;
}