@import "tailwindcss";

body {
  margin: 0;
  height:100vh;
  width:100vw;
}
/* App Component : */
.app_div {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height:100vh;
  width:100vw;
}

/* Nabar Component : */

.navbar_comp {
  width: 20%;
  min-width: 200px;
  background-color: #f1f1f1;
  height: 100%;
  overflow: auto;
}

/* Each User : */
.user_each {
  padding : 16px;
  width : 450px;
  cursor: pointer;
}

.user_each:hover:not(.active) {
  padding: 8px 10px;
  background-color: rgb(55,65,81);
  color: white;
}


.chat_main{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.all_msgs{
  margin-bottom: 130px;
  height: 600px;
  width: 100%;
}

.logout_on_nav{
text-align : center;
padding : 10px;
}

.logout_on_nav:hover {
  background-color: rgb(55,65,81);
}

.active {
  background-color: rgb(37,99,235);
}

.msg_inpt_form {
  position: fixed;
  bottom : 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  height: 140px;
}

.message_each {
  margin-bottom : 25px;
}

.msg_inpt {
  width: 300px;
}
@media only screen and (max-width : 800px) {

  /* App Component : */
  .app_div {
    display: block;
    height:100vh;
  }

  .navbar_comp {
    margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color : white;
  bottom: 0;
  width: 100%;
  height: 60px;
  }
  .users_on_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 400px;
  }

.user_each {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

  .user_name_nav {
    display: none;
  }

  .msg_inpt_form {
    bottom : 60px;
    min-width: 100%;
    height: 140px;
  }

  .chat_main {
    width: 100%;
    
  }

}