
body{
    background-image: url('./OB.jpg');
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100vw;
    height: 100vh;
    margin: 0;  
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Navbar styles */
.nav_bar{
    width:100%;
    background-color: white;
    padding: 15px;
    border-bottom: black;
    box-sizing:border-box;
    border-top: none;
    border-style:ridge;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Home Page styles */

#dashb{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin-top: 100px;
    border-style:ridge;
    border-color: black;
    border-radius: 15px;
}

#dashb button{
    padding : 10px;
    width: 170px;
    text-decoration: none;
    border-radius: 0;
    border-style: solid;
    border-color: black;
    background-color: #ecf3f9;
    position: relative;
    cursor: pointer;
    box-shadow: 4px 4px grey;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

#dashb button:active{
    left:4px;
    top:4px;
    box-shadow: none;
}

/* Asset Styles */

.asset_table{
    border-collapse: collapse;
    width: 400px;
    overflow: scroll;
    background-color: white;
    border-color: black;
    border-style: inset;
}

.asset_table th{
    background-color: #ecf3f9;
    border-color: black;
    border-style: solid;
}

.asset_table td, .asset_table th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

.assets_div_1{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    width:100%;
    background-color: white;
}

.asset_div_1_all_dev {
 background-color: #ecf3f9;
 width:46%;
 margin:2%;
}

.asset_div_1_all_types{
    background-color: #ecf3f9;
    width: 46%;
    margin:2%;
}

.asset_div_1_all_dev h2, .asset_div_1_all_types h2{
    margin-left: 20px;
}
.asset_div_1_all_dev table{
    height:58%;
}
.asset_div_1_all_dev table, .asset_div_1_all_types table{
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    width:96%;
    margin:2%;
}

.asset_div_1_all_types th {
    background-color: white;
}

.asset_div_1_all_types th, .asset_div_1_all_types td {
    border-style: solid;
    border-color: black;
}

/* Active Scanner Styles */
.form_scanner_table{
    background-color: white;
    padding : 30px;
    width: 700px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.form_scanner_table button {
    padding : 10px;
    width: 170px;
    text-decoration: none;
    border-radius: 0;
    border-style: solid;
    border-color: black;
    background-color: #ecf3f9;
    position: relative;
    cursor: pointer;
    box-shadow: 4px 4px grey;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.form_scanner_table button:active {
    left:4px;
    top:4px;
    box-shadow: none; 
}

.form_scanner_table form {
    margin : 30px;
}

.scanner_table{
    border-collapse: collapse;
    width: 600px;
    height: 150px;
}

.scanner_table tr {
    height : 80px;
}

.scanner_table th, .scanner_table td {
    border-style: solid;
    border-color: black;
}

/* cve table styles */

#pie_plot_cwe {
    width : 500px;
    height : 600px;
}

.cve_table {
    margin-top: 70px;
    background-color: white;
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
}
.cve_table th {
    background-color: #ecf3f9;
}
.cve_table th, .cve_table td {
    border-color: black;
    border-style: solid;
    border-width: 0.5px;
    text-align: center;
    width:min-content;
    padding:4px;
}

/* .all_qs */
.all_qs {
    background-color: white;
    box-sizing: border-box;
    margin : 50px;
    padding : 25px;
}

.sr_and_title {
    background-color: #ecf3f9;
    font-weight: bold
}

.submit_q_button{
    padding : 10px;
    width: 170px;
    text-decoration: none;
    border-radius: 0;
    border-style: solid;
    border-color: black;
    background-color: #ecf3f9;
    position: relative;
    cursor: pointer;
    box-shadow: 4px 4px grey;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.submit_q_button:active {
    left:4px;
    top:4px;
    box-shadow: none;
}

.main_head{
    width: 100%;
}

#pie_plot
{
    width : 700px;
    height: 700px;
}


/* #pie_plot
table styles :--
table
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 400px
}

td, th 
{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) 
{
    background-color: #dddddd;
}








#plot
{
    min-width: 800px;
    width:90%;
}

.all_plots
{
    display: flex;
    flex-wrap: wrap;
}
.pie_and_table{
margin-top:150px;
display: flex;
flex-direction: row;
justify-content:space-around;
width: 90vw;
}
*/
.ipmodal{
position: fixed; 
z-index: 1; 
padding-top: 100px;
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto; 
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.4);
}
.ipmodal_content{
    background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
} 