@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,600;1,700&display=swap');

body{
   margin:0;
   width:100vw;
   height: 100vh;
   background-color: #9BB8CD;
   font-family: 'Jost', sans-serif;
}
.head-on-top{
    width:100vw;
    background-color: #FFF7D4;
    z-index:1;
    box-shadow:0px 0px 20px 0px rgb(20, 20, 20) ;
    
}
.navbar{
    box-sizing: border-box;
    padding:20px;
    width:100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo,
.logo_img{
    width:40px;
    height:40px;
}

.xtra-links{
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.about,
.create_note,
.create_list,
.tweet,
.mail
{
    text-decoration: none;
    color:black;
}

.wrapper{
    height: 80vh;
    position: fixed;
    top:100px;
    z-index: 0;
    overflow-y: scroll;
}

.createNote{
    width:400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin:30px;
}

#title,
#subject,
#body{
    border:none;
    padding:10px;
    border-radius: 10px;
}
#body{
    font-size: 15px;
}
.listItemsList{
    background-color: white;
    list-style-type: none;
}

.listItem {
    margin:10px;
    border:none;
}

.listItem:focus{
    text-decoration: none;
    border:none;
    outline:none;
}

#submit_created,#add_check_box{
    width:80px;
}

.each_note_content{
    padding:10px;
    margin:20px;
    background-color: #FFF7D4;
}

.each_note_content_title{
    font-style: italic;
}
.about_content{
    margin:30px;
}
footer{
    padding:3px 10px 3px 10px;
    position: fixed;
    bottom:0;
    background-color: #EEC759;
}