<nav class="nav_bar">
    <button><a href="/">Home</a></button>
    <button><a href="/assets">Assets</a></button>
    <button><a href="#">Alerts</a></button>
    <button><a href="/active_scanner">Active Scanner</a></button>
    <button><a href="/cve">CVE</a></button>
    <button><a href="/security_assessment">623443</a></button>
</nav>