<nav class="nav_bar">
    <a href="/">Home</a>
    <a href="/assets">Assets</a>
    <a href="#">Alerts</a>
    <a href="/active_scanner">Active Scanner</a>
    <a href="/cve">CVE</a>
    <a href="/security_assessment">62443</a>
</nav>