<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .ipmodal{
            display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        .ipmodal_content{
            background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
        }
        /* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
    </style>
</head>
<body>
    <h1>Active Scanner</h1>
    <div class="form_scanner_table">
        <form action="/action_page.php">
            <label for="ip_ad">IP to Scan:</label><br>
            <input type="text" id="ip_ad" name="ip_ad" ><br>
            <label for="port_num">Port to Scan:</label><br>
            <input type="text" id="port_num" name="port_num"><br><br>
            <input type="submit" value="Submit">
          </form>
          <table>
            <tr>
                <th>Sr.No</th>
                <th>IP Address</th>
                <th>Port Number</th>
                <th>Vulnerabilities</th>
            </tr>
            <tr>
                <td>1</td>
                <td><button id="ip1">10.106.52.45</button></td>
                <td>102</td>
                <td><button>Details</button></td>
            </tr>
            <tr>
                <td>2</td>
                <td><button id="ip2">10.106.76.109</button></td>
                <td>102</td>
                <td><button>Details</button></td>
            </tr>
            <tr>
                <td>3</td>
                <td><button id="ip3">10.106.76.107</button></td>
                <td>102</td>
                <td><button>Details</button></td>
            </tr>
            <tr>
                <td>4</td>
                <td><button id="ip4">10.106.76.106</button></td>
                <td>102</td>
                <td><button>Details</button></td>
            </tr>
          </table>
    </div> 



<!-- Modal Data when clicked on each ip -->
<div class="ipmodal" id="forip1" style="display: none;">
    <div class="ipmodal_content">
        <span class="close" id="clbtn1">&times;</span>
        <div class="ipmodal_main">
            <p>Scanned At : 2024-06-21 13:34 IST</p>
            <div class="scan_dat">
                <p>Module : 6ES7 318-3EL01-0AB0</p>
                <p>Basic Hardware : 6ES7 318-3EL01-0AB0</p>
                <p>Version : 3.2.4</p>
                <p>System Name : CT_319104</p>
                <p>Module Type : CPU 319-3 PN/DP</p>
                <p>Serial Number : S C-B6V454142011</p>
            </div>
        </div>
    </div>
</div>

<div class="ipmodal" id="forip2" style="display: none;">
    <div class="ipmodal_content">
        <span class="close" id="clbtn2">&times;</span>
        <div class="ipmodal_main">
            <p>Scanned At : 2024-06-21 13:38 IST</p>
            <div class="scan_dat">
                <p>Module : 6ES7 515-2AM01-0AB0</p>
                <p>Basic Hardware : 6ES7 515-2AM01-0AB0</p>
                <p>Version : 2.1.0</p>
                <p>System Name : S71500/ET200MP station_1</p>
                <p>Module Type : PLC_1</p>
                <p>Serial Number : S C-J8MK36852017</p>
            </div>
        </div>
    </div>
</div>

<div class="ipmodal" id="forip3" style="display: none;">
    <div class="ipmodal_content">
        <span class="close" id="clbtn3">&times;</span>
        <div class="ipmodal_main">
            <p>Scanned At : 2024-06-21 13:38 IST</p>
            <div class="scan_dat">
                <p>Module : 6ES7 515-2AM01-0AB0</p>
                <p>Basic Hardware : 6ES7 515-2AM01-0AB0</p>
                <p>Version : 1.8.4</p>
                <p>System Name : S71500/ET200MP station_1</p>
                <p>Module Type : PLC_1</p>
                <p>Serial Number : S C-H3SL98922016</p>
            </div>
        </div>
    </div>
</div>

<div class="ipmodal" id="forip4" style="display: none;">
    <div class="ipmodal_content">
        <span class="close" id="clbtn4">&times;</span>
        <div class="ipmodal_main">
            <p>Scanned At : 2024-06-21 13:39 IST</p>
            <div class="scan_dat">
                <p>Module : 6ES7 515-2AM01-0AB0</p>
                <p>Basic Hardware :  6ES7 515-2AM01-0AB0</p>
                <p>Version : 1.8.3</p>
                <p>System Name : S71500/ET200MP station_1</p>
                <p>Module Type : PLC_1</p>
                <p>Serial Number : S C-H3S254022016</p>
            </div>
        </div>
    </div>
</div>

<script>
    var modal1  = document.querySelector('#forip1');
    var modal2  = document.querySelector('#forip2');
    var modal3  = document.querySelector('#forip3');
    var modal4  = document.querySelector('#forip4');

    var clbtn1  = document.querySelector('#clbtn1');
    var clbtn2  = document.querySelector('#clbtn2');
    var clbtn3  = document.querySelector('#clbtn3');
    var clbtn4  = document.querySelector('#clbtn4');

    var btn1   = document.querySelector('#ip1');
    var btn2   = document.querySelector('#ip2');
    var btn3   = document.querySelector('#ip3');
    var btn4   = document.querySelector("#ip4");

    btn1.onclick = function() {
        modal1.style.display = 'block';
    }
    btn2.onclick = function() {
        modal2.style.display = 'block';
    }
    btn3.onclick = function() {
        modal3.style.display = 'block';
    }
    btn4.onclick = function() {
        modal4.style.display = 'block';
    }
    clbtn1.onclick = function() {
        modal1.style.display =  'none';
    }
    clbtn2.onclick = function() {
        modal2.style.display =  'none';
    }
    clbtn3.onclick = function() {
        modal3.style.display =  'none';
    }
    clbtn4.onclick = function() {
        modal4.style.display =  'none';
    }

</script>

</body>
</html>