<%-include('./partials/up_and_down.ejs')%>

<body> 
    <div id="dashb">
      <button><a href="/assets">Assets</a></button>
      <button>Alerts</button>
      <button><a href="/active_scanner">Active Scanner</a></button>
      <button><a href="/cve">CVE</a></button>
      <button><a href="/security_assessment">623443</a></button>
    </div>
</body>
</html>