<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeevan</title>
    <style>
            .dashb{
              background-color: beige;
            } 
    </style>
</head>
<body> 
    <div id="dashb">
      <button><a href="/assets">Assets</a></button>
      <button>Alerts</button>
      <button><a href="/active_scanner">Active Scanner</a></button>
      <button><a href="/cve">CVE</a></button>
      <button><a href="/security_assessment">623443</a></button>
    </div>
</body>
</html>