<%-include('./partials/up_and_down.ejs')%>
<body> 
    <div id="dashb">
      <a href="/assets"><button>Assets</button></a>
      <button>Alerts</button>
      <a href="/active_scanner"><button>Active Scanner</button></a>
      <a href="/cve"><button>CVE</button></a>
      <a href="/security_assessment"><button>623443</button></a>
    </div>
</body>
</html>