body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EEEEEE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar_div{
  width : 100%;
  background-color: #DC5F00;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav_link h3, .nav_link p{
  margin:5px;
}

.if_logged_in{
  margin-right:15px;
}

.navbar_div .nav_link{
  float:left;
  padding:12px;
  color:white;
  text-decoration: none;
  font-size: 17px;
}

.heading_home{
  margin-left: 7px;
}

.logout_btn{
  background-color: black;
  padding:4px;
  margin-top: 15px;
}

.books{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.each_book{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 200px;
  margin :25px;
  text-align: left;
}

.each_book_img{
  width:100%;
  height:300px;
}

.each_book_title{
  margin-left: 5px;
  color:#dc5f00
}

.each_book_author{
  margin-left: 5px;
}

.each_book_price{
  color:#5f636c;
  margin-left: 5px;
}

.each_book_add{
  border:none;
  outline: 0;
  padding:12px;
  color:white;
  background-color: #000;
  text-align: center;
  cursor:pointer;
  width: 100%;
  font-size: 18px;
}

.login_page,.signup_page{
  align-self: center;
  margin-left: 7px;
  width:auto;
  height:250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login_email,.login_pwd,.signup_email,.signup_pwd{
  display: flex;
  flex-direction: column;
}

.login_page input,.signup_page input{
  width:300px;
  font-size: 15px;
}
.login_page button,.signup_page button{
  width:100px;
  height: 30px;
  background-color:#dc5f00;
}




* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}