<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="index.css">
    <title>My Notes</title>
</head>
<body>
    <!-- What goes on top -->
    <header class="head-on-top">
        <!-- The Navbar -->
        <nav class="navbar">
            <div class="logo">
                <a href="/"><img class="logo_img" src="notes.png" alt="logo"></a>
            </div>
            <div class="xtra-links">
                <a href="/create-note" class="create_note">New Note.</a>
                <a href="/create-list" class="create_list">New List.</a>
                <a href="/about" class="about">About.</a>
            </div>
        </nav>
    </header>
