<%- include('../partials/top_repeat.ejs')%>
    <!-- The Whole Body -->
    <main class="wrapper">
        <form action="/notes-list" method="POST" class="createNote" id="list">
            <label for="title">Note Title:</label>
            <input type="text" id="title" name="title" required>
            <label for="subject">Note Subject/Topic:</label>
            <input type="text" id="subject" name="subject">
            <ul class="listItemsList" name="listyo">
                <li><input type="text" placeholder="Add item" name='listItems' class="listItem"></li>
            </ul>
            <p id ='add_check_box'>Add To List</p>
            <button id="submit_created" type="submit">Submit</button>
        </form>
        <script>
            const addbox  = document.querySelector('#add_check_box');
            const listAct = document.querySelector('.listItemsList');
            addbox.addEventListener('click',()=>{
                let listI  = document.createElement('li')
                let listIb = document.createElement('input')
                listIb.setAttribute('type','text');
                listIb.setAttribute('placeholder','Add item')
                listIb.classList.add('listItem')
                listIb.setAttribute('name','listItems')
                listI.appendChild(listIb);
                listAct.appendChild(listI);
            })
        </script>
    </main>
<%- include('../partials/bottom_repeat.ejs')%>