body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background-color:white;
}


.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #079e67;
  color: white;
}

.home_page{
  margin-left: 20px;
}

.list_in_det {
  background-color: #079e67;
  width: fit-content;
  padding: 15px;
  margin:20px 20px 20px 20px;
  border-radius: 5px;
}

.add_task_btn {
  margin:5px;
  cursor: pointer;
  background-color: black;
  border-style: solid;
  border-width: 1px;
  border-color:black;
  color:white;
}

.del_task_btn {
  background-color: red;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding:4px;
  cursor: pointer;
  margin:8px 8px 8px 0;
}

.new_todo_list{
  background-color: #333;
  margin: 0 20px 20px 0;
  width:auto;
  padding:15px;
  color:white;
}

.new_todo_list input{
  font-size: larger;
}

.tasklist-title{
  margin-right: 10px;
}

.tasklist-title-submit{
  margin-left: 10px;
  height:30px;
  width: 30px;
}

.input-submit{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.add_task_btn:active, .add_task_btn:hover{
  background-color:#f2f2f2 ;
  color:black;
}

.tasklist-title-submit{
  border:solid;
  background-color: black;
  border-radius:10px;
  color:white;
  border-color:black;
  font-size: x-large;
  font-weight: bold;
  align-content: center;
  cursor: pointer;
}
.tasklist-title-submit:active, .tasklist-title-submit:hover{
  background-color:#f2f2f2 ;
  color:black;
}

.all_lists{
  display:flex;
  flex-wrap: wrap;
}