@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
body {
  margin: 0;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background-color:white;
}

/* Navbar Styles */
.topnav{
  padding:25px;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  color:white;
}

.topnav a {
  text-decoration: none;
  color:#f2f2f2;
}

.second {
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: space-between;
}

.first {
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: space-between;
}

.home_page{
  margin-left: 20px;
}

.list_in_det {
  background-color: #079e67;
  width: fit-content;
  padding: 15px;
  margin:20px 20px 20px 20px;
  border-radius: 5px;
}

.add_task_btn {
  margin:5px;
  cursor: pointer;
  background-color: black;
  border-style: solid;
  border-width: 1px;
  border-color:black;
  color:white;
}

.del_task_btn {
  background-color: red;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding:4px;
  cursor: pointer;
  margin:8px 8px 8px 0;
}

.new_todo_list{
  background-color: #333;
  margin: 20px 20px 20px 0;
  width:auto;
  padding:15px;
  color:white;
  border-radius: 5px;
}

.new_todo_list input{
  font-size: larger;
}

.tasklist-title{
  margin-right: 10px;
}

.tasklist-title-submit{
  margin-left: 10px;
  height:30px;
  width: 30px;
}

.input-submit{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.add_task_btn:active, .add_task_btn:hover{
  background-color:#f2f2f2 ;
  color:black;
}

.tasklist-title-submit{
  border:solid;
  background-color: black;
  border-radius:10px;
  color:white;
  border-color:black;
  font-size: x-large;
  font-weight: bold;
  align-content: center;
  cursor: pointer;
}
.tasklist-title-submit:active, .tasklist-title-submit:hover{
  background-color:#f2f2f2 ;
  color:black;
}

.all_lists{
  display:flex;
  flex-wrap: wrap;
}

.home a{
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: x-large;
}

.list_in_det label {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: larger;
}

.login_page {
  width : 300px;
  margin-left : 25px;
  display: flex;
  flex-direction: column;
  label {
    margin-top: 25px;
  }
  button {
    margin-top : 20px;
    width : 50px;
  }
}

.signup_page {
  width : 300px;
  margin-left : 25px;
  display: flex;
  flex-direction: column;
  label {
    margin-top: 25px;
  }
  button {
    margin-top : 20px;
    width : 50px;
  }
}