body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  margin:0;
  width:100vw;
  height:100vh;
  overflow: scroll;
}

.nav_all{
  background-color: red;
  height:60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav1{
  margin-left:20px;
}

.nav1 h3{
  margin-top:0;
  margin-bottom: 0;
}

.nav2{
  margin-right: 20px;
  width:100px;
  display: flex;
  justify-content: space-between;
}

.home_div{
  margin:auto;
  display: flex;
  flex-wrap: wrap;
}

.each_pro{
  padding:10px;
  width:230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prod_img{
  width:100%;
}

.details_det{
  margin:60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.img_div{
  width:500px;
  margin:50px;
}
.no_of_units{
  width:100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.no_of_units button{
  height: fit-content;
}